ansicolors>=1.1.8
argon2-cffi>=20.1.0
async-generator>=1.10
attrs>=18.2.0
audioplayer>=0.6
backcall>=0.2.0
bleach>=3.3.1
catfish>=1.4.10
certifi>=2018.8.24
cffi>=1.14.6
chardet>=3.0.4
cheroot>=8.5.2
cssselect>=1.0.3
cupshelpers>=1.0
debugpy>=1.3.0
decorator>=5.0.9
defusedxml>=0.5.0
distro>=1.3.0
distro-info>=0.21
docutils>=0.14
entrypoints>=0.3
evdev>=1.1.2
galternatives>=1.0.4
gpg>=1.12.0
gpodder>=3.10.20
idna>=2.6
img2pdf>=0.3.3
importlib-metadata>=3.10.1
iotop>=0.6
ipykernel>=6.0.2
ipython>=7.25.0
ipython-genutils>=0.2.0
ipywidgets>=7.6.3
jaraco.functools>=3.3.0
jedi>=0.18.0
Jinja2>=2.10
jsonschema>=3.2.0
jupyter>=1.0.0
jupyter-client>=6.1.12
jupyter-console>=6.4.0
jupyter-core>=4.7.1
jupyterlab-pygments>=0.1.2
jupyterlab-widgets>=1.0.0
lightdm-gtk-greeter-settings>=1.2.2
lxml>=4.3.2
Markdown>=3.0.1
Markups>=3.0.0
MarkupSafe>=1.1.0
matplotlib-inline>=0.1.2
mistune>=0.8.4
more-itertools>=8.8.0
mugshot>=0.4.1
mygpoclient>=1.8
nbclient>=0.5.3
nbconvert>=6.1.0
nbformat>=5.1.3
nest-asyncio>=1.5.1
notebook>=6.4.0
numpy>=1.21.0
onboard>=1.4.1
packaging>=19.0
pandocfilters>=1.4.3
parso>=0.8.2
pdfarranger>=1.6.2
pexpect>=4.6.0
pickleshare>=0.7.5
pikepdf>=1.0.5+dfsg
Pillow>=5.4.1
pip-review>=1.1.0
podcastparser>=0.6.3
prometheus-client>=0.11.0
prompt-toolkit>=3.0.19
ptyprocess>=0.7.0
pulsemixer>=1.4.0
pycairo>=1.16.2
pycparser>=2.20
pycups>=1.9.73
pycurl>=7.43.0.2
pygame>=2.0.1
Pygments>=2.9.0
PyGObject>=3.30.4
pyparsing>=2.2.0
pyPEG2>=2.15.2
pyquery>=1.2.9
pyradio>=0.8.9.9
pyrsistent>=0.18.0
pysmbc>=1.0.15.6
PySocks>=1.6.8
python-apt>=1.8.4.3
python-dateutil>=2.8.2
python-debian>=0.1.35
python-markdown-math>=0.6
python-mpd2>=1.0.0
python-vlc>=3.0.12118
python-xlib>=0.23
pytube>=11.0.0
pyudev>=0.21.0
pyxattr>=0.6.1
PyYAML>=3.13
pyzmq>=22.1.0
qtconsole>=5.1.1
QtPy>=1.9.0
qutebrowser>=1.6.1
reportlab>=3.5.13
requests>=2.25.1
roman>=2.0.0
rpl>=1.5.6
ruamel.yaml>=0.15.34
Send2Trash>=1.7.1
six>=1.12.0
Sonata>=1.7b1
stem>=1.8.0
terminado>=0.10.1
testpath>=0.5.0
tflite-runtime>=2.5.0
torbrowser-launcher>=0.3.3
tornado>=6.1
traitlets>=5.0.5
typing-extensions>=3.10.0.0
ufw>=0.36
ulozto-downloader>=2.6.0
unattended-upgrades>=0.1
urllib3>=1.24.1
VapourSynth>=45.1
wcwidth>=0.2.5
web.py>=0.62
webencodings>=0.5.1
WebOb>=1.8.5
widgetsnbextension>=3.5.1
youtube-dl>=2021.6.6
zipp>=3.5.0
